body {
 background-color: rgb(250,250,250);
}
.container{
  text-align: center;
}
.graphbox{
  margin-top: 10px;
}
.pieChart{
  height: 700px;
}
.loader{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingimg{
  height: 45%;
  width: 45%;
}
.antchart{
  margin-top: 1px;
}

